███████╗██╗███╗   ██╗ █████╗ ██╗         ██╗   ██╗███████╗ █████╗ ██████╗ 
██╔════╝██║████╗  ██║██╔══██╗██║         ╚██╗ ██╔╝██╔════╝██╔══██╗██╔══██╗
█████╗  ██║██╔██╗ ██║███████║██║          ╚████╔╝ █████╗  ███████║██████╔╝
██╔══╝  ██║██║╚██╗██║██╔══██║██║           ╚██╔╝  ██╔══╝  ██╔══██║██╔══██╗
██║     ██║██║ ╚████║██║  ██║███████╗       ██║   ███████╗██║  ██║██║  ██║
╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝       ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
                                                                          
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗                
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝                
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║                   
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║                   
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║                   
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝                   


Flask==2.3.2
pyfladesk==1.0.9
Werkzeug==2.3.7
opencv-python==4.8.0.76
audiopy==0.1.4
Jinja2==3.1.2 
itsdangerous==2.1.2  
click==8.1.7  
markupsafe==2.1.3